<h3>Post details:</h3>
<br/>
<p>
	<h3> <%= @row['CONTENT']%></h3>
	
	<h5> Added at <%= @row['CREATED_DATE']%> </h5>
	
	<hr />
	<p/>
	
	<h4>Comments:</h4>

	<% @comments.each do |comment|%>
	<p>

	<%= comment['CONTENT'] %>
</p>
<hr/>
<%end%>

	<p>
		<form action="/details/<%= @row['ID']%>" method="POST" >
	<div class="mb-3">
  
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type comment text here" ></textarea>
</div></br>

	<button type="submit" class="btn btn-primary">Add comment</button>
</form>


	</p>