<!DOCTYPE html>
<html>
	<head>
		<title>Leprosorium</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
 
	</head>
	<body>
		<div class=container>
			<nav class="navbar  navbar-dark bg-dark">
  <a class="navbar-brand" href="/">LeprosoriumHQ</a>
        <span class="nav-link" href="/new">Write down post</span>
</nav>
					      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
					        <% elsif @error1 && @error1.size >0 then%>
						        <div class="alert alert-danger"><%=@error1%>

							</div>
			      				<% end %>
			      				<%= yield %>
				</div>

	</div>


 </body>
</html>
